button {
  cursor: pointer;
}

.App {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
justify-content: center;
gap: 10px;
}

input:checked + span {
  text-decoration: line-through;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  margin-top: 10px;

}
.remaining-info {
  margin-top: 10px;
}

.footer-filter {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action-filter {
  background: royalblue;
  color: #fff;
}

.todo-li {
  margin-top: 10px;
}