* {
box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', cursive;
}

body {
  background: linear-gradient( 90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

h1 {
  margin: 32px 0;
  color: #fff;
font-size: 24px;
}

h2 {
  color: #fff;
  margin: 32px 0;
}

button {
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 50px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgb(96, 69, 150) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-button:hover {
  background: linear-gradient(90deg,
  rgba(93,12,255,1) 0%,
  rgb(43, 3, 68) 100%
  )
}

.todo-input-edit {
  padding: 5px 6px 7px 8px;
  border-radius: 4px;
  border: 2px solid #5d0cff;
  background: transparent;
  color: #fff;
}

.todo-button-edit {
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 7px 12px;
}

.todo-button-edit:hover {
  background: linear-gradient(-45deg,
  rgba(20,159,255,1) 0%,
  rgb(4, 39, 86) 100%
  );
}

.todo-button-delete {
  border-radius: 5px;
  color: rgb(85, 7, 7);
  background: linear-gradient(
    90deg,
    rgb(226, 195, 19) 0%,
    rgb(232, 77, 10) 100%
  );
  padding: 7px 12px;
}

.todo-button-delete:hover {
  background: linear-gradient(-45deg,
  rgba(232,77,10) 0%,
  rgb(81, 69, 3) 100%
  );
}

.todo-button-change {
  border-radius: 4px;
  color: #fff;
  background: linear-gradient(90deg,
  rgb(183, 235, 40) 0%,
  rgba(17,122,255,1) 100%
  );
  padding: 7px 12px;
}

.todo-button-change:hover {
  background: linear-gradient(-45deg,
  rgb(183, 235, 40) 0%,
  rgba(17,122,255,1) 100%
  );
}

ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

input:checked + span {
  text-decoration: line-through;
  opacity: 0.4;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;

}
.remaining-info {
  color: #fff;
  margin: 20px 20px;

}

.footer-filter {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-action-button {
  padding: 7px 12px;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.footer-action-button:hover {
  background: linear-gradient(-45deg,
  rgba(20,159,255,1) 0%,
  rgb(4, 39, 86) 100%
  );
}

.action-filter {
  padding: 7px 12px;
  border-radius: 4px;
  border: 2px solid #5d0cff;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.not-action-filter {
  padding: 7px 12px;
  border-radius: 4px;
  border: 2px solid #5d0cff;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(218, 230, 238) 0%,
    rgb(147, 186, 237) 100%
  );
}

.todo-list {
  color: #fff;
  border: 2px solid #5d0cff;
  border-radius: 4px;
  padding: 3px 7px;

}

.todo-li {
  margin-top: 10px;
}

.checkbox {
  cursor: pointer;
}


